---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Community from '../components/Community.astro';
---

<Layout title="Kamile Demir – Software Engineer">
  <Nav />
  <main>
    <Hero />
    <About />
    <Experience />
    <Community />
  </main>
</Layout>
