---
import '../styles/hero.css';
---

<section id="hero" class="hero">
  <div class="hero__inner">
    <p class="hero__greeting">Hi!</p>
    <p class="hero__name">I'm Kamilé</p>
    <p class="hero__tagline">Engineering at the intersection of art & technology</p>
  </div>
</section>
