---
import '../styles/global.css';

interface Props {
  title: string;
  description?: string;
}

const { title, description = 'Kamilé Demir – Engineering at the intersection of art & technology' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://use.typekit.net/qnu0rue.css" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
